body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 20px;
  background-color: #f0f0f0;
}

h1 {
  font-size: 1.5em;
}

.controls, .zoom-controls {
  margin-bottom: 20px;
}

.zoom-controls {
    display: flex;
    gap: 20px;
}

.zoom-control {
    display: flex;
    align-items: center;
    gap: 10px;
}


button {
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

.canvas-container {
    width: 100%;
    overflow-x: auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

#waveform-canvas {
  background-color: #fff;
}
